@import "compass";

body {
	margin: 0;
	padding: 0;
	background: #41454a image-url("noise-41454a.png");
	font-family: "Helvetica Neueu", Helvetica, Arial, sans-serif;
	font-size: 86%;
	line-height: 1.5;
}

.light {
	@include single-box-shadow(rgba(0, 0, 0, 0.5), 0, 1px, 3px);
	background: #f3f3f3 image-url("noise-f3f3f3.png");
	overflow: hidden;
}

.wrapper {
	margin: 0;
	padding: 4em;
}

.doc {
	@include single-box-shadow(rgba(255, 255, 255, 1), 0 1px 0);
	border-bottom: 1px solid #ccc;
	margin: 1em auto;
	width: 40%;
	
	.title {
	text-align: center;
	}
}

/* The important stuffs. The ones that you should copy-paste and use. */

.paginate {
	text-align: center;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		text-align: center;
		
		// display: inline-block; // an inline-block will allow you to use it with other contents
	}
	
	li {
		display: inline;
	}
	
	a {
		@include border-radius(3px);
		@include single-box-shadow(rgba(0, 0, 0, 0.2), 0, 0, 0, 1px);
		
		margin: 1px 2px;
		padding: 5px 10px;
		display: inline-block;
		border-top: 1px solid #fff;
		
		text-decoration: none !important;
		color: #717171 !important;
		font-size: smaller !important;
		font-family: "Helvetica Neueu", Helvetica, Arial, sans-serif;
		
		text-shadow: rgba(255, 255, 255, 1) 0 1px 0;
		
		background-color: #f5f5f5;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#eaeaea)); /* Saf4+, Chrome */
		background-image: -webkit-linear-gradient(top, #f9f9f9, #eaeaea); /* Chrome 10+, Saf5.1+ */
		background-image:    -moz-linear-gradient(top, #f9f9f9, #eaeaea); /* FF3.6 */
		background-image:     -ms-linear-gradient(top, #f9f9f9, #eaeaea); /* IE10 */
		background-image:      -o-linear-gradient(top, #f9f9f9, #eaeaea); /* Opera 11.10+ */
		background-image:         linear-gradient(top, #f9f9f9, #eaeaea);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f9f9f9', EndColorStr='#eaeaea'); /* IE6–IE9 */
		
		// reset the margins
		&:first-child, &.first	{ margin-left: 0; }
		&:last-child, &.last	{ margin-right: 0; }
		
		&:hover, &:focus {
			border-color: #fff;
			background-color: #fdfdfd;
			background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#fafafa)); /* Saf4+, Chrome */
			background-image: -webkit-linear-gradient(top, #fefefe, #fafafa); /* Chrome 10+, Saf5.1+ */
			background-image:    -moz-linear-gradient(top, #fefefe, #fafafa); /* FF3.6 */
			background-image:     -ms-linear-gradient(top, #fefefe, #fafafa); /* IE10 */
			background-image:      -o-linear-gradient(top, #fefefe, #fafafa); /* Opera 11.10+ */
			background-image:         linear-gradient(top, #fefefe, #fafafa);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fefefe', EndColorStr='#fafafa'); /* IE6–IE9 */
		}
		
		&.more {
			@include single-box-shadow(none, 0, 0, 0, 0);
			border: 0 none !important;
			background: transparent !important;
			margin-left: 0;
			margin-right: 0;
		}
		
		&.active {
			@include single-box-shadow(rgba(0, 0, 0, 0.75), 0, 0, 0, 0, inset);
			border-color: #505050 !important;
			color: #f2f2f2 !important;
			text-shadow: rgba(0, 0, 0, 1) 0 1px 0;
			
			background-color: #676767;
			background-image: -webkit-gradient(linear, left top, left bottom, from(#5f5f5f), to(#5c5c5c)); /* Saf4+, Chrome */
			background-image: -webkit-linear-gradient(top, #5f5f5f, #5c5c5c); /* Chrome 10+, Saf5.1+ */
			background-image:    -moz-linear-gradient(top, #5f5f5f, #5c5c5c); /* FF3.6 */
			background-image:     -ms-linear-gradient(top, #5f5f5f, #5c5c5c); /* IE10 */
			background-image:      -o-linear-gradient(top, #5f5f5f, #5c5c5c); /* Opera 11.10+ */
			background-image:         linear-gradient(top, #5f5f5f, #5c5c5c);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#5f5f5f', EndColorStr='#5c5c5c'); /* IE6–IE9 */		
		}
	}

}

.paginate-dark {

	a {
		@include single-box-shadow(rgba(0, 0, 0, 0.3), 0, 0, 0, 1px);
		border-top: 1px solid #62686d;
		text-shadow: rgba(0, 0, 0, 0.75) 0 1px 0;
		color: #fff !important;
		
		background-color: #4e5458;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#575e63), to(#3f4347)); /* Saf4+, Chrome */
		background-image: -webkit-linear-gradient(top, #575e63, #3f4347); /* Chrome 10+, Saf5.1+ */
		background-image:    -moz-linear-gradient(top, #575e63, #3f4347); /* FF3.6 */
		background-image:     -ms-linear-gradient(top, #575e63, #3f4347); /* IE10 */
		background-image:      -o-linear-gradient(top, #575e63, #3f4347); /* Opera 11.10+ */
		background-image:         linear-gradient(top, #575e63, #3f4347);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#575e63', EndColorStr='#3f4347'); /* IE6–IE9 */
		
		&:hover, &:focus {
			border-color: #61788a;
			background-color: #4d6374;
			background-image: -webkit-gradient(linear, left top, left bottom, from(#566f82), to(#3e505e)); /* Saf4+, Chrome */
			background-image: -webkit-linear-gradient(top, #566f82, #3e505e); /* Chrome 10+, Saf5.1+ */
			background-image:    -moz-linear-gradient(top, #566f82, #3e505e); /* FF3.6 */
			background-image:     -ms-linear-gradient(top, #566f82, #3e505e); /* IE10 */
			background-image:      -o-linear-gradient(top, #566f82, #3e505e); /* Opera 11.10+ */
			background-image:         linear-gradient(top, #566f82, #3e505e);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#566f82', EndColorStr='#3e505e'); /* IE6–IE9 */
		}
		
		&.active {
			@include single-box-shadow(rgba(0, 0, 0, 0.75), 0, 0, 0, 0, inset);
			border-color: #2d3035 !important;
			
			background-color: #303338;
			background-image: -webkit-gradient(linear, left top, left bottom, from(#303338), to(#2d3034)); /* Saf4+, Chrome */
			background-image: -webkit-linear-gradient(top, #303338, #2d3034); /* Chrome 10+, Saf5.1+ */
			background-image:    -moz-linear-gradient(top, #303338, #2d3034); /* FF3.6 */
			background-image:     -ms-linear-gradient(top, #303338, #2d3034); /* IE10 */
			background-image:      -o-linear-gradient(top, #303338, #2d3034); /* Opera 11.10+ */
			background-image:         linear-gradient(top, #303338, #2d3034);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#303338', EndColorStr='#2d3034'); /* IE6–IE9 */
		}
	}
}